



 
      <div class="row">
        <a  id ="employeeSideMenu">Employees</a>
        <ul id="empMenu" class="sideMenu">
            <li><a href="/employee">All Employee</a></li>
            <li><a href="/searchEmployee">Search Employee</a></li>
            <li><a href="/addEmployee">Add Employee</a></li>
        </ul>
 
    </div>
    <div class="row"><a href="" id="studentSideMenu">Students</a>
      <ul id="studentMenu" class="sideMenu">
        <li><a href="/student">All Students</a></li>
        <li><a href="/searchStudent">Search Student</a></li>
        <li><a href="/addStudent">New Addmission</a></li>
    </ul>
  </div>
    <div class="row"><a href="" id="courseSideMenu">Courses</a>
      <ul id="courseMenu" class="sideMenu">
        <li><a href="">All Courses</a></li>
        <li><a href="">Search Courses</a></li>
        <li><a href="">Add Course</a></li>
    </ul>
    </div>
    <div class="row"><a href="" id="centerSideMenu">Centers</a>
      <ul id="centerMenu" class="sideMenu">
        <li><a href="">All Centers</a></li>
        <li><a href="">Search Center</a></li>
        <li><a href="">Add Center</a></li>
    </ul>
    </div>
    
    <div class="row"><a href="home">LogOut</a></div>

    
 
